# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Web related
lib/generated_plugin_registrant.dart

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release



build/app/tmp/packLibsflutterBuildDebug/MANIFEST.MF
build/app/tmp/kotlin-classes/debug/META-INF/app_debug.kotlin_module
build/app/outputs/apk/debug/app-debug.apk
*.bin
*.len
*.tab_i
*.at
*.keystream
*.tab
*.txt
*.so
*.flat
*.dex
*.jar
*.json
.dart_tool/flutter_build/23433222c02908ed8be367118e31c2be/.filecache
*.stamp
*.d
*.dill
*.java
build/app/intermediates/dex_archive_input_jar_hashes/debug/out
build/app/intermediates/dex_number_of_buckets_file/debug/out
build/app/intermediates/flutter/debug/.last_build_id
*.otf
build/app/intermediates/flutter/debug/flutter_assets/isolate_snapshot_data
*.Z
*.ttf
build/app/intermediates/flutter/debug/flutter_assets/vm_snapshot_data
build/app/intermediates/incremental/debug-mergeJavaRes/merge-state
build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/+JMYLkZ0gpEvSrgt4zh2T66ZZcc=
build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/+2YY4j9FsEnA2BlooYKilVTCbok=
build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/+JOhh8oLxSQMiiLXXNDma_K+9pk=
build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/34rOLJFcIUbx7jAUNgQcLdeZoN4=
build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/70YCOmcOx5RGajGwI5wPGjgf+vA=
build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/7lIcrNHkRgdTa803Ada0dCQG6Fw=
build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/8smN2jOG5ryNUu2kKqQQkOKIskA=
build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/9fe0rQ+hmgfaL_D_7nfyJCu+x8E=
build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/9HgxY8HD8eOK1_kZVtaP3dgbmoc=
build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/_h9M6C5BNdCTfp4wO7f5RAt0ZSU=
build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/Bv5le90CzVujUj3bBQ8MV3V5mes=
build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/CAcpV6kxszsiEsUdnDrcNMBt1UI=
build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/cQE9vi2R8nLiMBR0ZQT4HP86iPc=
build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/Jki7nepMbd42+Z1Z++JOTzdqAqE=
build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/jLon0WW5ROnarjbNIyGbLUBa0CE=
build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/KnsKvMUj4APNWWz2gV7fuYlPY1A=
build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/LFHkh3i0fVjbKeRy8cvRb_Rijr8=
build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/Na_W54874GpkMgdEbnIJydDlOV4=
build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/O3TXuDaeP_VYyRfCnl+ZncD0+2U=
build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/oBGPscqdKrImUcvUMaNq+nJyjz4=
build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/oJkLReC+ZDeRTdDzKXmMJDFfmRM=
build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/Olf3AmNVtlxg5YsJHEYGw8fFqEo=
build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/OmJuzUOQ3jaU3yXKulgDy2oyRaQ=
build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/qGE8LXpQChG4xRdZiccZciEeRhI=
build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/S0syanuwjbkUj2ZTTkXXzfXtHvI=
build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/SEntl5y32fUun7dXl0WLbkLldmU=
build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/V9ZN7_tUhxy8844k6p7mcI17SDY=
build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/vGgecOLaknssDyJ2QIaAa+h3c+M=
build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/wnSmqy69JfXpcwh8wep1N5im+yk=
build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/y_N8xS7tYjkgc5t2O1SkpWAYAXc=
build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/YG+E0_eYh5HH4r+izsfveVFn1jM=
build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/Z7ippFd9J9RaGsncxLWItFIWLzY=
build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/zc6qapCKAMM3gaJAJ758vZUy2Dk=
build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/ZGRMmYMXo3Ksblr93bu6WDOdkNU=
build/app/intermediates/incremental/debug-mergeNativeLibs/merge-state
build/app/intermediates/incremental/debug-mergeNativeLibs/zip-cache/+2YY4j9FsEnA2BlooYKilVTCbok=
build/app/intermediates/incremental/debug-mergeNativeLibs/zip-cache/+JMYLkZ0gpEvSrgt4zh2T66ZZcc=
build/app/intermediates/incremental/debug-mergeNativeLibs/zip-cache/+JOhh8oLxSQMiiLXXNDma_K+9pk=
build/app/intermediates/incremental/debug-mergeNativeLibs/zip-cache/34rOLJFcIUbx7jAUNgQcLdeZoN4=
build/app/intermediates/incremental/debug-mergeNativeLibs/zip-cache/70YCOmcOx5RGajGwI5wPGjgf+vA=
build/app/intermediates/incremental/debug-mergeNativeLibs/zip-cache/7lIcrNHkRgdTa803Ada0dCQG6Fw=
build/app/intermediates/incremental/debug-mergeNativeLibs/zip-cache/8smN2jOG5ryNUu2kKqQQkOKIskA=
build/app/intermediates/incremental/debug-mergeNativeLibs/zip-cache/9fe0rQ+hmgfaL_D_7nfyJCu+x8E=
build/app/intermediates/incremental/debug-mergeNativeLibs/zip-cache/9HgxY8HD8eOK1_kZVtaP3dgbmoc=
build/app/intermediates/incremental/debug-mergeNativeLibs/zip-cache/_h9M6C5BNdCTfp4wO7f5RAt0ZSU=
build/app/intermediates/incremental/debug-mergeNativeLibs/zip-cache/Bv5le90CzVujUj3bBQ8MV3V5mes=
build/app/intermediates/incremental/debug-mergeNativeLibs/zip-cache/CAcpV6kxszsiEsUdnDrcNMBt1UI=
build/app/intermediates/incremental/debug-mergeNativeLibs/zip-cache/cQE9vi2R8nLiMBR0ZQT4HP86iPc=
build/app/intermediates/incremental/debug-mergeNativeLibs/zip-cache/Jki7nepMbd42+Z1Z++JOTzdqAqE=
build/app/intermediates/incremental/debug-mergeNativeLibs/zip-cache/jLon0WW5ROnarjbNIyGbLUBa0CE=
build/app/intermediates/incremental/debug-mergeNativeLibs/zip-cache/KnsKvMUj4APNWWz2gV7fuYlPY1A=
build/app/intermediates/incremental/debug-mergeNativeLibs/zip-cache/LFHkh3i0fVjbKeRy8cvRb_Rijr8=
build/app/intermediates/incremental/debug-mergeNativeLibs/zip-cache/Na_W54874GpkMgdEbnIJydDlOV4=
build/app/intermediates/incremental/debug-mergeNativeLibs/zip-cache/O3TXuDaeP_VYyRfCnl+ZncD0+2U=
build/app/intermediates/incremental/debug-mergeNativeLibs/zip-cache/oBGPscqdKrImUcvUMaNq+nJyjz4=
build/app/intermediates/incremental/debug-mergeNativeLibs/zip-cache/oJkLReC+ZDeRTdDzKXmMJDFfmRM=
build/app/intermediates/incremental/debug-mergeNativeLibs/zip-cache/Olf3AmNVtlxg5YsJHEYGw8fFqEo=
build/app/intermediates/incremental/debug-mergeNativeLibs/zip-cache/OmJuzUOQ3jaU3yXKulgDy2oyRaQ=
build/app/intermediates/incremental/debug-mergeNativeLibs/zip-cache/qGE8LXpQChG4xRdZiccZciEeRhI=
build/app/intermediates/incremental/debug-mergeNativeLibs/zip-cache/S0syanuwjbkUj2ZTTkXXzfXtHvI=
build/app/intermediates/incremental/debug-mergeNativeLibs/zip-cache/SEntl5y32fUun7dXl0WLbkLldmU=
build/app/intermediates/incremental/debug-mergeNativeLibs/zip-cache/V9ZN7_tUhxy8844k6p7mcI17SDY=
build/app/intermediates/incremental/debug-mergeNativeLibs/zip-cache/vGgecOLaknssDyJ2QIaAa+h3c+M=
build/app/intermediates/incremental/debug-mergeNativeLibs/zip-cache/wnSmqy69JfXpcwh8wep1N5im+yk=
build/app/intermediates/incremental/debug-mergeNativeLibs/zip-cache/y_N8xS7tYjkgc5t2O1SkpWAYAXc=
build/app/intermediates/incremental/debug-mergeNativeLibs/zip-cache/YG+E0_eYh5HH4r+izsfveVFn1jM=
build/app/intermediates/incremental/debug-mergeNativeLibs/zip-cache/Z7ippFd9J9RaGsncxLWItFIWLzY=
build/app/intermediates/incremental/debug-mergeNativeLibs/zip-cache/zc6qapCKAMM3gaJAJ758vZUy2Dk=
build/app/intermediates/incremental/debug-mergeNativeLibs/zip-cache/ZGRMmYMXo3Ksblr93bu6WDOdkNU=
build/app/intermediates/incremental/mergeDebugAssets/merger.xml
build/app/intermediates/incremental/mergeDebugJniLibFolders/merger.xml
build/app/intermediates/incremental/mergeDebugResources/compile-file-map.properties
build/app/intermediates/incremental/mergeDebugResources/merged.dir/values-af/values-af.xml
build/app/intermediates/incremental/mergeDebugResources/merged.dir/values-am/values-am.xml
build/app/intermediates/incremental/mergeDebugResources/merged.dir/values-ar/values-ar.xml
build/app/intermediates/incremental/mergeDebugResources/merged.dir/values-as/values-as.xml
build/app/intermediates/incremental/mergeDebugResources/merged.dir/values-az/values-az.xml
build/app/intermediates/incremental/mergeDebugResources/merged.dir/values-b+sr+Latn/values-b+sr+Latn.xml
build/app/intermediates/incremental/mergeDebugResources/merged.dir/values-be/values-be.xml
build/app/intermediates/incremental/mergeDebugResources/merged.dir/values-bg/values-bg.xml
build/app/intermediates/incremental/mergeDebugResources/merged.dir/values-bn/values-bn.xml
build/app/intermediates/incremental/mergeDebugResources/merged.dir/values-bs/values-bs.xml
build/app/intermediates/incremental/mergeDebugResources/merged.dir/values-ca/values-ca.xml
build/app/intermediates/incremental/mergeDebugResources/merged.dir/values-cs/values-cs.xml
build/app/intermediates/incremental/mergeDebugResources/merged.dir/values-da/values-da.xml
build/app/intermediates/incremental/mergeDebugResources/merged.dir/values-de/values-de.xml
build/app/intermediates/incremental/mergeDebugResources/merged.dir/values-el/values-el.xml
build/app/intermediates/incremental/mergeDebugResources/merged.dir/values-en-rAU/values-en-rAU.xml
build/app/intermediates/incremental/mergeDebugResources/merged.dir/values-en-rCA/values-en-rCA.xml
build/app/intermediates/incremental/mergeDebugResources/merged.dir/values-en-rGB/values-en-rGB.xml
build/app/intermediates/incremental/mergeDebugResources/merged.dir/values-en-rIN/values-en-rIN.xml
build/app/intermediates/incremental/mergeDebugResources/merged.dir/values-en-rXC/values-en-rXC.xml
build/app/intermediates/incremental/mergeDebugResources/merged.dir/values-es-rUS/values-es-rUS.xml
build/app/intermediates/incremental/mergeDebugResources/merged.dir/values-es/values-es.xml
build/app/intermediates/incremental/mergeDebugResources/merged.dir/values-et/values-et.xml
build/app/intermediates/incremental/mergeDebugResources/merged.dir/values-eu/values-eu.xml
build/app/intermediates/incremental/mergeDebugResources/merged.dir/values-fa/values-fa.xml
build/app/intermediates/incremental/mergeDebugResources/merged.dir/values-fi/values-fi.xml
build/app/intermediates/incremental/mergeDebugResources/merged.dir/values-fr-rCA/values-fr-rCA.xml
build/app/intermediates/incremental/mergeDebugResources/merged.dir/values-fr/values-fr.xml
build/app/intermediates/incremental/mergeDebugResources/merged.dir/values-gl/values-gl.xml
build/app/intermediates/incremental/mergeDebugResources/merged.dir/values-gu/values-gu.xml
build/app/intermediates/incremental/mergeDebugResources/merged.dir/values-hi/values-hi.xml
build/app/intermediates/incremental/mergeDebugResources/merged.dir/values-hr/values-hr.xml
build/app/intermediates/incremental/mergeDebugResources/merged.dir/values-hu/values-hu.xml
build/app/intermediates/incremental/mergeDebugResources/merged.dir/values-hy/values-hy.xml
build/app/intermediates/incremental/mergeDebugResources/merged.dir/values-in/values-in.xml
build/app/intermediates/incremental/mergeDebugResources/merged.dir/values-is/values-is.xml
build/app/intermediates/incremental/mergeDebugResources/merged.dir/values-it/values-it.xml
build/app/intermediates/incremental/mergeDebugResources/merged.dir/values-iw/values-iw.xml
build/app/intermediates/incremental/mergeDebugResources/merged.dir/values-ja/values-ja.xml
build/app/intermediates/incremental/mergeDebugResources/merged.dir/values-ka/values-ka.xml
build/app/intermediates/incremental/mergeDebugResources/merged.dir/values-kk/values-kk.xml
build/app/intermediates/incremental/mergeDebugResources/merged.dir/values-km/values-km.xml
build/app/intermediates/incremental/mergeDebugResources/merged.dir/values-kn/values-kn.xml
build/app/intermediates/incremental/mergeDebugResources/merged.dir/values-ko/values-ko.xml
build/app/intermediates/incremental/mergeDebugResources/merged.dir/values-ky/values-ky.xml
build/app/intermediates/incremental/mergeDebugResources/merged.dir/values-lo/values-lo.xml
build/app/intermediates/incremental/mergeDebugResources/merged.dir/values-lt/values-lt.xml
build/app/intermediates/incremental/mergeDebugResources/merged.dir/values-lv/values-lv.xml
build/app/intermediates/incremental/mergeDebugResources/merged.dir/values-mk/values-mk.xml
build/app/intermediates/incremental/mergeDebugResources/merged.dir/values-ml/values-ml.xml
build/app/intermediates/incremental/mergeDebugResources/merged.dir/values-mn/values-mn.xml
build/app/intermediates/incremental/mergeDebugResources/merged.dir/values-mr/values-mr.xml
build/app/intermediates/incremental/mergeDebugResources/merged.dir/values-ms/values-ms.xml
build/app/intermediates/incremental/mergeDebugResources/merged.dir/values-my/values-my.xml
build/app/intermediates/incremental/mergeDebugResources/merged.dir/values-nb/values-nb.xml
build/app/intermediates/incremental/mergeDebugResources/merged.dir/values-ne/values-ne.xml
build/app/intermediates/incremental/mergeDebugResources/merged.dir/values-night-v8/values-night-v8.xml
build/app/intermediates/incremental/mergeDebugResources/merged.dir/values-nl/values-nl.xml
build/app/intermediates/incremental/mergeDebugResources/merged.dir/values-or/values-or.xml
build/app/intermediates/incremental/mergeDebugResources/merged.dir/values-pa/values-pa.xml
build/app/intermediates/incremental/mergeDebugResources/merged.dir/values-pl/values-pl.xml
build/app/intermediates/incremental/mergeDebugResources/merged.dir/values-pt-rBR/values-pt-rBR.xml
build/app/intermediates/incremental/mergeDebugResources/merged.dir/values-pt-rPT/values-pt-rPT.xml
build/app/intermediates/incremental/mergeDebugResources/merged.dir/values-pt/values-pt.xml
build/app/intermediates/incremental/mergeDebugResources/merged.dir/values-ro/values-ro.xml
build/app/intermediates/incremental/mergeDebugResources/merged.dir/values-ru/values-ru.xml
build/app/intermediates/incremental/mergeDebugResources/merged.dir/values-si/values-si.xml
build/app/intermediates/incremental/mergeDebugResources/merged.dir/values-sk/values-sk.xml
build/app/intermediates/incremental/mergeDebugResources/merged.dir/values-sl/values-sl.xml
build/app/intermediates/incremental/mergeDebugResources/merged.dir/values-sq/values-sq.xml
build/app/intermediates/incremental/mergeDebugResources/merged.dir/values-sr/values-sr.xml
build/app/intermediates/incremental/mergeDebugResources/merged.dir/values-sv/values-sv.xml
build/app/intermediates/incremental/mergeDebugResources/merged.dir/values-sw/values-sw.xml
build/app/intermediates/incremental/mergeDebugResources/merged.dir/values-ta/values-ta.xml
build/app/intermediates/incremental/mergeDebugResources/merged.dir/values-te/values-te.xml
build/app/intermediates/incremental/mergeDebugResources/merged.dir/values-th/values-th.xml
build/app/intermediates/incremental/mergeDebugResources/merged.dir/values-tl/values-tl.xml
build/app/intermediates/incremental/mergeDebugResources/merged.dir/values-tr/values-tr.xml
build/app/intermediates/incremental/mergeDebugResources/merged.dir/values-uk/values-uk.xml
build/app/intermediates/incremental/mergeDebugResources/merged.dir/values-ur/values-ur.xml
build/app/intermediates/incremental/mergeDebugResources/merged.dir/values-uz/values-uz.xml
build/app/intermediates/incremental/mergeDebugResources/merged.dir/values-v16/values-v16.xml
build/app/intermediates/incremental/mergeDebugResources/merged.dir/values-v21/values-v21.xml
build/app/intermediates/incremental/mergeDebugResources/merged.dir/values-vi/values-vi.xml
build/app/intermediates/incremental/mergeDebugResources/merged.dir/values-zh-rCN/values-zh-rCN.xml
build/app/intermediates/incremental/mergeDebugResources/merged.dir/values-zh-rHK/values-zh-rHK.xml
build/app/intermediates/incremental/mergeDebugResources/merged.dir/values-zh-rTW/values-zh-rTW.xml
build/app/intermediates/incremental/mergeDebugResources/merged.dir/values-zu/values-zu.xml
build/app/intermediates/incremental/mergeDebugResources/merged.dir/values/values.xml
build/app/intermediates/incremental/mergeDebugResources/merger.xml
build/app/intermediates/incremental/mergeDebugShaders/merger.xml
build/app/intermediates/incremental/packageDebug/tmp/debug/zip-cache/androidResources
build/app/intermediates/incremental/packageDebug/tmp/debug/zip-cache/javaResources0
build/app/intermediates/javac/debug/classes/com/example/app_informativa_ite/BuildConfig.class
build/app/intermediates/javac/debug/classes/io/flutter/plugins/GeneratedPluginRegistrant.class
build/app/intermediates/merged_assets/debug/out/flutter_assets/isolate_snapshot_data
build/app/intermediates/merged_assets/debug/out/flutter_assets/vm_snapshot_data
build/app/intermediates/merged_manifest/debug/out/AndroidManifest.xml
build/app/intermediates/merged_manifests/debug/AndroidManifest.xml
build/app/intermediates/packaged_manifests/debug/AndroidManifest.xml
build/app/intermediates/processed_res/debug/out/resources-debug.ap_
build/app/outputs/flutter-apk/app-debug.apk
build/app/outputs/flutter-apk/app.apk
build/app/outputs/flutter-apk/app.apk.sha1
build/app/tmp/kotlin-classes/debug/com/example/app_informativa_ite/MainActivity.class
.packages
